* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 10px; /*1rem*/
  scroll-behavior: smooth;
  /* font-family: "Oswald", sans-serif; */
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* header */

#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  z-index: 9999;
  padding: 5rem 0;
  transition: all 0.6s ease-in-out;
}
#header.header-scroll{
  padding: 2rem 0;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
}
.header__content {
  display: flex;
  justify-content: space-around;
  padding: 0 2rem;
  align-items: center;
}
.header__logo a img {
  padding: 0 50px;
}
.menu {
  display: flex;
}
.menu__text {
  border: none;
  padding: 27px 32px;
  text-decoration: none;
  height: 6rem;
  background-color: #f55f8d;
  background-image: linear-gradient( to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100% );
  background-size: 200%;
  border-radius: 4rem;
  line-height: 1rem;
  transition: all 0.5s;
  color: white;
  font-size: 16px;
  margin: 0px -20px;
  cursor: pointer;
}
.menu__text:hover {
  background-position: right center;
}
.menu ul {
  list-style: none;
  padding: 1rem 3rem;
}
.menu ul li {
  display: inline;
  padding: 0 14px;
}
.menu ul li a {
  font-size: 2rem;
  text-decoration: none;
  color: black;
  transition: all 0.5s;
}
.menu ul li:hover a {
  color: #f56390;
}

/* banner */

.banner__container {
  display: flex;
  width: 100%;
  position: relative;
  background-image: url("./img/pic2.png");
  background-size: 100%;
  background-position: top;
  background-repeat: no-repeat;
}
.banner__left {
  width: 60%;
  padding: 21rem 16rem;
}
.banner__left h6 {
  font-size: 2.3rem;
  color: #f5608e;
}
.banner__left h1 {
  font-size: 7rem;
  margin: 33px 0;
  font-weight: 800;
}
.banner__left p {
  font-size: 2rem;
  color: #686868;
  margin: 36px 0;
}
.banner__left ul li {
  font-size: 2rem;
  color: #686868;
  margin: 25px 0;
  list-style: none;
}
.banner__left ul li i {
  font-size: 2rem;
  color: white;
  padding: 11px 15px;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  border-radius: 25px;
  width: 7%;
  background-size: 200%;
}
.banner__text  {
  border: none;
  padding: 26px 37px;
  text-decoration: none;
  height: 6rem;
  background-color: #f55f8d;
  background-image: linear-gradient( to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100% );
  background-size: 200%;
  border-radius: 4rem;
  line-height: 1rem;
  transition: all 0.5s;
  color: white;
  font-size: 16px;
  margin: 0px -20px;
  cursor: pointer;
}
.banner__text:hover  {
  background-position: right center;
}
.banner__right {
  padding: 18rem 0px;
  width: 40%;
  position: relative;
  overflow-x: hidden;
}
.banner__container .banner__right .move-2 {
  position: absolute;
  top: 0;
  height: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
}
.banner__right .move-2 img {
  position: relative;
  right: 149px;
}

/* Services */

#services {
  background-image: url("./img/bg2.png");
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
}
.services__list {
  width: 80%;
  display: flex;
  padding: 4rem;
  margin: 0 auto;
}
.services__content {
  text-align: center;
}
.services__content h6 {
  font-size: 3rem;
  color: #f5608e;
}
.services__content h1 {
  font-size: 7rem;
}
.services__item {
  padding: 1rem 0;
  box-shadow: 0 0px 60px 0px rgb(0 0 0 / 10%);
  width: 33%;
  margin: 15px 18px;
  background-color: #ffffff;
  text-align: center;
  border-radius: 1rem;
  transform: translateY(1rem);
  transition: all 1s;
}
.services__item:hover {
  transform: translateY(0);
}
.services__img {
  width: 100%;
  padding: 3rem 5rem;
}
.services__item h4 {
  font-weight: 800;
    font-size: 2.6rem;
  color: #262626;
  padding: 1rem;
}
.services__item p {
  padding-bottom: 2.5rem;
    font-size: 18px;
    color: #737373;
    padding-top: 1rem;
}
.services__img img {
  width: 90%;
}

/* about */

#about {
  background-image: url("./img/bg15.png");
  background-size: cover;
}
.about__content {
  width: 100%;
  display: flex;
  margin: 5rem 0;
}
.about__left {
  width: 50%;
}
.about__left img {
  border-radius: 0 12rem 12rem 0;
  width: 107%;
  margin: 35px -4rem;
  padding: 15px 2rem;
  height: 84%;
}
.about__right {
  width: 50%;
  margin-left: 8rem;
}

.about__right h6 {
  color: #f5608e;
  font-size: 3rem;
}
.about__right h1 {
  padding: 2rem 0;
  font-size: 7rem;
}
.about__right p {
  font-size: 2rem;
  color: #686868;
}
.about__right ul {
  padding: 2rem 0;
}
.about__right ul li {
  padding: 7px 0;
  font-size: 2rem;
  color: #686868;
  list-style: none;
}
.about__right ul li i {
  color: #f5608e;
    border: 1.6px solid;
    font-size: 2rem;
    border-radius: 100%;
    padding: 3px;
    margin-right: 2rem;
}
.about__text {
  border: none;
    padding: 26px 30px;
    text-decoration: none;
    height: 6.5rem;
    background-color: #f55f8d;
    background-image: linear-gradient( to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100% );
    background-size: 200%;
    border-radius: 4rem;
    line-height: 1rem;
    transition: all 0.5s;
    color: white;
    font-size: 16px;
    margin: 0px -20px;
    cursor: pointer;
}
.about__text:hover  {
  background-position: right center;
}

/* count */

#count {
  background-image: url("./img/bg14.png");
  /* background-size: cover; */
  background-position: center;
  background-repeat: no-repeat;
}
.count__content {
  justify-content: space-between;
  display: flex;
  text-align: center;
  width: 70%;
  margin: 11rem auto;
  padding: 10rem 0;
}
.count__item i {
  color: white;
  padding: 2rem 2rem;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  font-size: 5rem;
  border-radius: 5rem;
}
.count__item .counter,
.count__item .counter ~ span {
  font-size: 6rem;
  /* padding: 1rem 0; */
  color: #f55f8d;
  font-weight: bold;
}
.count__item p {
  font-size: 2rem;
}

/* Features */

#features {
  background-position: center;
  background-image: url("./img/bg2.png");
  background-size: cover;
}
.features__left__text {
  margin-left: 4.5rem;
}
.features__wrap {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.features__left {
  width: 50%;
  margin: 0 -2rem;
}
.features__left__text h2 {
  line-height: 1.2;
  font-size: 6.7rem;
  font-weight: 800;
}
.features__left__text h3{
font-size: 2.5rem;
color: #f55f8d;
}
.features__left__thumb {
  background-color: white;
  box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
  display: flex;
  padding: 3.5rem;
  border-radius: 1rem;
  margin: 3rem 5rem;
  transition: all 1s;
}
.thumb2 {
  margin: 3rem 0rem 3rem 10rem;
}
.thumb__icon a i {
  padding-right: 2.6rem;
  font-size: 7rem;
  color: #f55f8d;
}
.thumb__text h3 {
  font-weight: 800;
  font-size: 2.5rem;
  color: black;
  margin-bottom: 1.2rem;
}
.thumb__text p{
  font-size: 1.5rem;
  color: #626266;
}
.features__right {
  width: 50%;
}
.features__right img {
  width: 110%;
  padding: 2rem;
}

/* feature-hover */

.features__left__thumb:hover {
  /* display: flex; */
  border-radius: 1rem;
  background-image: linear-gradient(
    to left,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  color: white;
  background-size: 200%;
}
  

/* latest */
#latest{
  padding-top: 10rem;
}
.latest__content {
  text-align: center;
  margin-bottom: 4rem;
}
.latest__content h6 {
  font-size: 3rem;
  color: #f5608e;
}
.latest__content h2 {
  font-size: 7rem;
}

.latest__item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 20px;
}
.latest__list {
  display: grid;
  grid-template-columns: 2fr 2fr 3fr;
  grid-gap: 30px;
  width: 75%;
  margin: 0 auto;
}
.latest__item {
  position: relative;
}
.latest__list .latest__item:nth-child(1) {
  grid-column: 1/3;
}

.latest__list .latest__item:nth-child(5) {
  grid-column: 1/3;
}

.latest__list .latest__item:nth-child(6) {
  grid-column: 3;
  grid-row: 2/4;
}
.latest__item:hover .latest__overlay {
  opacity: 1;
  transition: all 1s;
}
.latest__overlay {
  background: #00000080;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 2rem;
  opacity: 0;
}
.latest__text {
  right: 10px;
  position: absolute;
  bottom: 18px;
  left: 20px;
  transform: translateY(20px);
  transition: all 1s;
}
.latest__text a:first-of-type {
  text-decoration: none;
  color: white;
}
.latest__text a {
  text-decoration: none;
}
.latest__icons {
  position: absolute;
  right: 2rem;
  top: 2rem;
}
.latest__item:hover .latest__text {
  transform: translateY(0);
}
.latest__item:hover .latest__icons i {
  transform: translate(0, 0);
}
.latest__icons i {
  padding: 3px 2rem;
  height: 55px;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  border-radius: 1rem;
  line-height: 5rem;
  text-align: center;
  transition: all 0.5s;
  color: white;
  font-size: 21px;
  transform: translate(20px, -20px);
  transition: all 1s;
}
.latest__icons:hover i {
  background-position: right center;
}
.latest__title a {
  font-size: 26px;
}
.latest__post a {
  font-size: 18px;
}

/* choose */

#choose {
  background-image: url(./img/bg16.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.choose__title {
  margin-top: 10rem;
  text-align: center;
}
.choose__content h6 {
  font-size: 28px;
  color: #f55f8d;
}
.choose__content h2 {
  font-size: 7rem;
}
.choose__tab {
  border-radius: 0.5rem;
    margin: 3rem 64rem;
  display: flex;
  justify-content: space-around;
  background-image: linear-gradient( to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100% );
  align-items: center;
  text-align: center;
  padding: 5px;
  position: relative;
  z-index: 1;
  cursor: pointer;
  /* display: inline; */
}
.choose__tab::after{
  content: "";
  display: block;
  width: calc(50% - 5px);
  height: calc(100% - 1rem);
  position: absolute;
  z-index: -1;
  top: 0.5rem;
  left: 0.5rem;
  background:white;
  border-radius: 0.5rem;
  transition: all 0.5s;
  pointer-events: none;
}
.choose__tab h6 {
  /* margin: 4rem 2rem;
  font-size: 13px; */
  font-size: 14px;
    font-weight: 500;
    width: 50%;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    -webkit-transition: all 1s;
    -ms-transition: all 1s;
    transition: all 1s;
    height: 42px;
    line-height: 42px;
    cursor: pointer;
}
/* .choose__tab:after{
  content: "";
  width: calc(50% - 4px);
  display: block;
  height: 42px;
  background: #fff;
  border-radius: 4px;
  position: absolute;
  left: 4px;
  right: auto;
  z-index: -1;
  -webkit-transition: all 1s;
  -ms-transition: all 1s;
  transition: all 1s;
} */
/* .choose__tab.monthly:after{

} */
.choose__tab .monthly {
  color: black;
  /* background-color: white;  */
  display: inline;
}
.choose__text span{
  font-weight: 800;
    color: #f8ae56;
    font-size: 5rem;
}
.choose__text {
  box-shadow: 0 0px 60px 0px rgb(0 0 0 / 10%);
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 1rem;
  background-size: cover;
  padding: 1rem 0;
  border: 5px solid transparent;
  border-image: 100 round;
  transition: all 0.5s ease-in-out;
  border-bottom: 1px solid rgba (128, 128, 128, 0.336);
  margin-bottom: 2.5rem;
}
.choose__text:hover {
  border-image: url("./img/br.png") 5 round;
}

.plan_price-month{
  margin: 2rem 0;
  font-weight: 600;
  font-size: 1.7rem;
  display: block;
}
.plan_price-year{
  display: none;
}
.choose__text button {
  margin-bottom: 3rem;
}
.choose__text h3 {
  font-size: 35px;
  text-align: center;
  margin-top: 2rem;
}
.choose__text img {
  width: 45%;
}
.choose__detail {
  display: flex;
  width: 75%;
  margin: 0 auto;
}
.choose__text ul li {
  list-style: none;
  padding: 8px 0;
  font-size: 2rem;
}
.choose__text ul li i {
  color: #f55f8d;
  background-color: #feeff3;
  font-size: 2rem;
  border-radius: 50%;
  padding: 5px;
  margin-right: 1rem;
}
.choose__text h2 {
  margin-bottom: 2rem;
  font-size: 5rem;
  color: #f8ae56;
}
.choose__text h2 span {
  color: black;
  font-size: 2rem;
}
.choose__text ul {
  margin-bottom: 2rem;
  border-top: solid 1px #80808040;
}
.choose__button {
  border: none;
  padding: 26px 35px;
  text-decoration: none;
  height: 6.5rem;
  background-color: #f55f8d;
  background-image: linear-gradient( to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100% );
  background-size: 200%;
  border-radius: 4rem;
  line-height: 1rem;
  transition: all 0.5s;
  color: white;
  font-size: 16px;
  margin: 0px -20px;
  cursor: pointer;
}
.choose__button:hover {
  background-position: right center;
}

/* Testimonial */

#testimonial {
  margin-top: 12rem;
  background-image: url("./img/bg17.png");
  background-position: left;
  background-repeat: no-repeat;
  background-size: contain;
}

.testimonial__title {
  text-align: center;
  margin-bottom: 6rem;
}

.testimonial__title h3 {
  font-size: 2.4rem;
  color: #f55f8d;
}

.testimonial__title h2 {
  font-size: 60px;
}

.testimonial__slider__img {
  width: 350px;
  margin: auto;
}

.testimonial__pic{
  width: 100px;
  text-align: center;
}

.testimonial__pic img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  object-position: center;
}


.testimonial__slider__img .testimonial__pic img{
  border-radius: 50%;
  border: 4px solid #f55f8d;
}

.testimonial__slider {
  /* width: 70%; */
  /* margin: 0 auto; */
}

.testimonial__slider .item i {
  font-size: 80px;
  color: #f55f8d;
}

.testimonial__slider .item-header {
  display: flex;
  /* flex-direction: row-reverse; */
  justify-content: space-between;
  align-items: center;
}
/* .testimonial__slider .item-header::after{
  content: "";
  background-color: var(--primary);
  border-radius: 50px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
}
.testimonial__slider .item-header::before{
  height: 15px;
    width: 15px;
    bottom: 20px;
    transform: translateX(50%);
    opacity: 1;
}  */
.testimonial__slider .item-header div {
  flex: 1;
  text-align: center;
}

.testimonial__slider .item-header p:first-child {
  font-size: 2.2rem;
  font-weight: 900;
  font-style: italic;
  margin-bottom: 1.4rem;
}

.testimonial__slider .item-header p:last-child {
  font-size: 1.3rem;
  color: #f55f8d;
}

.testimonial__slider .slider__content {
  text-align: center;
  padding: 50px 200px;
}

.testimonial__slider .slider__content .item {
  padding: 30px 60px;
  border-radius: 10px;
  box-shadow: 0 0 40px rgb(0 0 0 / 10%);
}

.testimonial__slider .slider__content .item-description {
    font-size: 1.8rem;
    line-height: 3.4rem;
    color: rgba(1, 1, 1, 0.6);
}

/* news */

#news {
  background-image: url("./img/bg16.png");
  background-size: 100%;
  background-position: top;
  margin-top: 11rem;
}
.news__title {
  text-align: center;
}
.news__title h6 {
  color: #f55f8d;
  font-size: 2.5rem;
}
.news__title h2 {
  font-size: 7rem;
  font-weight: 800;
}
.news__slider {
  position: relative;
  display: flex;
margin-top: 3rem;
cursor: grab;
}
.news__detail {
  
  box-shadow: 0 0 1px rgb(0 0 0 / 30%);
  border-radius: 1rem;
  width: 30%;
  margin: 0 1.2rem;
  background-color: #feeff3;
}
/* news */

.news__content .date p{
  background-size: 200%;
  background-image: linear-gradient( to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100% );
 color: white;
 display: inline;
 position: absolute;
 top: 19.7rem;
 padding: 1rem;
 border-radius: 0.5rem;
}
.news__detail img {
  width: 100%;
  border-radius: 1rem;
}
.news__content h4 {
  cursor: pointer;
  font-size: 2.5rem;
  margin: 3rem 0 1rem 10px;
}
.news__detail .news__content:hover h4 {
  color: #f55f8d;
  transition: all 1.2s;
}
.news__content p {
  margin-bottom: 2rem;
  margin-left: 1rem;
  color: #626266;
  font-size: 1.6rem;
}
.news__icons {
  padding-top: 2rem;
  justify-content: space-around;
  border-top: solid 1px #80808040;
  display: flex;
}
.news__icons__detail-1 {
  display: flex;
}
.news__icons__detail-1 span {
  color: #626266;
}
.news__icons__detail-1 i{
  color: #f55f8d;
  font-size: 2rem;
}
.news__icons__detail-1 p {
  color: #f55f8d;
}
.news__icons__detail-2{
  display: flex;
  margin-right: 6rem;
}
.news__icons__detail-2 i {
  color: #f55f8d;
  font-size: 2rem;
}


/* sliderfooter */

#sliderfooter {
  padding: 10rem 0px 60px 0;
  background-color: white;
}
.sliderfooter__content {
  padding: 2rem 3rem;
  width: 80%;
  margin: 0 auto;
  cursor: grab;
  /* transition: all 1s; */
}
.content__img {
  padding: 2rem 3rem;
  height: 100px;
  transition: all 1s;
  position: relative;
}
.sliderfooter__content .content__img .img1 {
  display: block;
  width: 100%;
  height: 100%;
}
.sliderfooter__content .content__img .img2 {
  display: none;
  width: 100%;
  height: 100%;
}
.sliderfooter__content .content__img:hover .img1 {
  display: none;
}
.sliderfooter__content .content__img:hover .img2 {
  display: block;
}

.content__img ::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: red;
  z-index: 9999;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  opacity: 1;
  /* transition: all 0.5s; */
  border-radius: 5px;
}
.content__img:hover::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  opacity: 1;
  border-radius: 5px;
}
/* #slider__footer{
  margin:15rem 0;
}
.slider__blog{
  /* padding: 0 2rem; */
  /* display: flex;
  width: 100%;
  margin: 0 auto;
}
.slider__blog img {
  margin: 0 5rem; */
  /* background-image: linear-gradient( to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100% ); */
  /* opacity: 1;
} */ 
/* .slider__blog:hover img{
  background-color:#f55f8d 0, #f8ae56 51%, #f55f8d 100%  ;
  background-size: 200%;
  background-image: linear-gradient( to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100% );
} */



/* footer */

.site-footer.style-2{
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  height: auto !important;
  background-color: #0e1b1f;
  background-size: contain;
  z-index: 1;
  background-image: url("./images/pattern/pattern2.png");
}
.site-footer.style-2:before {
  content: "";
  background-image: url("./images/pattern/pattern2.png");
  background-position: left top;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 0; 
  left: 0;
   width: 100%;
  height: 100%;
  z-index: -1;
/* ::before {
  margin: 0;
  padding: 0;
} */}
.footer__item__center{
  background-image: url("./img/pattern3.png");
  padding: 50px 60px;
    background-color: #fff;
    z-index: 99;
    position: relative;
    border-radius: 10px;
    box-shadow: 0 0px 30px 0 rgb(0 0 0 / 10%);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100%;
}
.footer__item__center{
  display: flex;
  margin: 3rem 14rem;
  justify-content: space-around;
}
.input-group input{
  padding: 2rem 12rem;
  padding: 2rem 19rem 2rem 1rem;
  font-size: 1.5rem;
}
.footer__content button{
  padding: 0 3.5rem;
  background-image: linear-gradient(
      to right,
      #f55f8d 0,
      #f8ae56 51%,
      #f55f8d 100%
    );
    background-size: 200%;
    border: none;
    border-radius: 0 7px 7px 0px;
    background-color: #f55f8d;
    cursor: pointer;
}
.footer__content:hover button{
  background-position: right center;
}
.footer__title h2{
  padding-top: 1rem;
  font-size: 3.3rem;
  padding-right: 3rem;
}
.footer__content{
  display: flex;
}
.footer__content button i{
  color: white;
    font-size: 2rem;
    font-family: "Font Awesome 6 Brands";
    font-weight: 400;
    transform: translateX(0px);
    transition: all 0.3s;
    /* background-image: linear-gradient(
      to right,
      #f55f8d 0,
      #f8ae56 51%,
      #f55f8d 100%
    );
    background-size: 200%; */
}
.footer__content button:hover i{
transform: translateX(20px);
}
.footer__top{
  display: flex;
  width: 80%;
  margin: 7rem auto 2rem  auto;
  
}
.footer-c1{
  width: 25%;
}
.footer-c1 ul li i{
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  padding: 1.5rem;
border-radius: 50%;
color: white;
}
.footer-c1 ul li{
list-style: none;
margin: 1.5rem 0;
}
.footer-c1 ul li p{
  font-size: 1.5rem;
  margin-left: 1rem;
  color: #9a9fa0;
}
.footer-c1 ul{
  margin-top: 4rem;
}
.footer-c2{
  width: 25%;
  margin-left: 2rem;
}

.footer-c2 ul{
  margin: 5rem 0; 
}
.footer-c2 h5{
  font-size: 2.7rem;
    color: white;
    border-bottom: 2px solid (
      to right,
      #f55f8d 0,
      #f8ae56 51%,
      #f55f8d 100%
    );
}
.footer-c2 ul li {
  list-style: none;
  margin: 1.5rem 0;

}
.footer-c2 ul li a{
  transition: all 1s;
}
.footer-c2 ul li:hover a{
  color: white;
}
.footer-c2 ul li a{
  font-size: 1.5rem;
  color: #9a9fa0;
  text-decoration: none;
}
.footer-c2 ul li a i{
  margin-right: 1rem;
}
.footer-c3{
  width: 25%;
}
.footer-c3 h5{
  font-size: 2.7rem;
  color: white;
  border-bottom: 2px solid (
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
}
.footer-c3 ul{
  margin: 5rem 0;
}
.footer-c3 ul li{
  color: #9a9fa0;
  text-decoration: none;
list-style: none;
font-size: 1.5rem;
margin: 1.5rem 0;
transition: all 1s;
}
.footer-c3 ul:hover li{
  color: white;
}
.footer-c3 ul li i{
  margin-right: 1rem;
}
.footer-c4{
  width: 25%;
}
.footer-c4 ul{
  margin: 5rem 0;
}

.footer-c4 h5{
  font-size: 2.7rem;
  color: white;
  border-bottom: 2px solid (
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );

}
.footer-c4 ul:hover li{
  color: white;
}
.footer-c4 ul li{
  color: #9a9fa0;
  text-decoration: none;
list-style: none;
font-size: 1.5rem;
margin: 1.5rem 0;
transition: all 1s;
}
.footer-c4 ul li i{
  margin-right: 1rem;
}
.footer__li{
  display: flex;
}
.footer__bottom {
  padding: 1.5rem 0;
  background-color: #1f343b;
}
.footer__bottom__content{
  display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer__text__left span{
  color:#9a9fa0 ;
  font-size: 1.5rem;
}
.footer__text__left span a{
  color:#f55f8d ;
  text-decoration: none;
  font-size: 1.5rem;
}
.footer__icons{
  display: flex ;
}
.footer__icons li{
list-style: none  ;
}

.footer__icons li i {
  color: white;
 background-color:  rgba(255, 255, 255, 0.1);
  margin: 0 0.6rem;
  padding: 1.5rem;
  border-radius: 50%;
}
.footer__icons__text:hover ul li {
  background-color: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
} 



















.backToTop{
  background-color: #f55f8d;
  width: 5.5rem;
  height: 5.5rem;
  line-height: 6.5rem;
  display: block;
  text-align: center;
  border-radius: 5px;
  color: white;
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  opacity: 0;
  visibility: hidden;
}
.backToTop i{
  font-size: 1.6rem;
}
.cd-top--is-visible {
  visibility: visible;
  opacity: 1;
}

.cd-top--fade-out { 
  opacity: .5;
}